body{
    margin:0; padding:0;
	background-image: url('../image/index.jpg');
}
#box1{ 
		height:40px; 
		background-color:#333333; 	
	}
a{ 
	text-decoration:none; 
	outline:none;
	}
.a_top{
	color:#b0b0b0;
	line-height:40px; 
	font-size:12px;
	float:left
		}
   li{ 
	list-style:none; 
	float:left;
	line-height:40px; 
	color:#b0b0b0b0; 
	font-size:12px; 
	margin:0px 5px;
	}
	a:hover{
		color: #ffffff;
		font-size: 20px;
	}